name: cppcheck
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: cppcheck-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
          
      - name: cppcheck
        uses: deep5050/cppcheck-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          std: c++17
          inline_suppression: enable
          exclude_check: ./tests
          output_file: cppcheck_report.txt
          other_options: --library=wxwidgets
          
      - name: print output
        run: |
          ./.github/review_cppcheck_output.sh
