name: quneiform
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: quneiform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: install quneiform
        run: |
             git clone https://github.com/eclipse-quneiform/quneiform.git --recurse-submodules
             cd quneiform
             cmake ./
             make -j4
             cd ..

      - name: analyze
        run: |
             ./quneiform/bin/quneiform ./ --ignore=quneiform --cpp-version=2017 -q --enable=allI18N,allCodeFormatting -o wxSPresults.txt
             cat wxSPresults.txt

      - name: print output
        run: |
             REPORTFILE=./wxSPresults.txt
             WARNINGSFILE=./warnings.txt
             if test -f "$REPORTFILE"; then
                cat "$REPORTFILE" > "$WARNINGSFILE"
                # are there any warnings?
                if grep -qP '\[[a-zA-Z0-9]+\]' "$WARNINGSFILE"; then
                    # print the remaining warnings
                    echo Warnings detected:
                    echo ==================
                    cat "$WARNINGSFILE" | grep -P '\[[a-zA-Z0-9]+\]'
                    # fail the job
                    exit 1
                else
                    echo No warnings detected
                fi
             else
                echo "$REPORTFILE" not found
             fi
