name: macOS Build
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: macos-build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: install wxwidgets
        run: |
             brew install cmake
             git clone https://github.com/wxWidgets/wxWidgets.git --recurse-submodules
             cd wxWidgets
             mkdir build-cocoa
             cd build-cocoa
             ../configure --enable-debug
             make -j4
             sudo make install
             cd ..
             cd ..

      - name: build
        run: |
             cd demo
             cmake ./
             make -j4
