name: Linux Build
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ubuntu-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: install wxwidgets
        run: |
             sudo apt-get update && sudo apt-get install xvfb cmake libtbb-dev libgtk-3-0 libgtk-3-dev libwayland-server0 libwayland-cursor0 libwayland-client0
             git clone https://github.com/wxWidgets/wxWidgets.git --recurse-submodules
             cd wxWidgets
             mkdir buildgtk
             cd buildgtk
             ../configure --with-gtk
             make -j4
             sudo make install
             sudo ldconfig
             cd ..
             cd ..

      - name: build
        run: |
             cd demo
             cmake ./
             make -j4
