name: Windows Build
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Installing vcpkg (windows)
        run: |
          cd ..
          git clone https://github.com/Microsoft/vcpkg.git
          cd vcpkg
          git checkout
          .\bootstrap-vcpkg.bat
          .\vcpkg.exe install cppzmq:x64-windows
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v1.1.3
        with:
            vs-prerelease: true
      - name: Build wxwidgets
        run: |
             cd ..
             git clone https://github.com/wxWidgets/wxWidgets.git --recurse-submodules
             cd wxWidgets\build\msw
             msbuild wx_vc17.sln
      - name: Build
        run: |
             cd ${{ github.workspace }}\demo
             cmake ${{ github.workspace }}\demo\CMakeLists.txt -DwxWidgets_ROOT_DIR=..\..\wxWidgets
             $baseDir = (Get-Item -Path ".\" -Verbose).FullName
             $items = Get-ChildItem -Path $baseDir -Include *.sln -Recurse
             foreach ($item in $items){
               msbuild $item
             }
             dir
